.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #20dc8f;
    color: #ffffff;
    padding: 20px;
}

.header-left,
.header-middle,
.header-right {
    flex: 1;
}

.header-middle {
    text-align: center;
}

.header-left {
    font-size: 1.2rem;
}

.header-right {
    text-align: right;
    font-size: 1.2rem;
}

.header a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.header a:hover {
    text-decoration: underline;
}