.container {
    margin: 100px auto;
    padding: 80px;
}

.list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.card-wrapper {
    border: 1px solid #e0e0e0;
    padding: 10px;
    background-color: transparent;
    color: inherit;
    text-decoration: none;
    width: 200px;
    height: 300px;
}

.card-wrapper:hover, .card-wrapper:focus {
    background-color: transparent;
    color: inherit;
    text-decoration: none;
}